<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Welcome to SimpleTodo
  </h2>
</div>

<ul class="nav nav-tabs">
  <!--<li class="nav-item">-->
    <!--<a routerLink="/home" class="nav-link">Home</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a routerLink="/todos" class="nav-link">Todos</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="/">Login</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">Logout</a>-->
  <!--</li>-->
</ul>

<router-outlet></router-outlet>
