<ul class="todos list-group list-group-flush">
    <li *ngFor="let task of tasks" [contextMenuSubject]="task" [contextMenu]="taskMenu"
        class="list-group-item">

        <div class="task">

            <i (click)="finishTask(task)" class="fa fa-check-circle fa-2x myCenter"></i>
            <span class="myMargin">{{task.name}}</span>
            <span class="myMargin badge badge-light">{{task.description}}</span>

            <div class="pull-right">
                <div [ngSwitch]="task.priority">
                    <div *ngSwitchCase="priority.LOW"
                         class="badge badge-pill badge-secondary toLeft">
                        {{task.reminders[0].date}}
                        <i aria-hidden="true" class="fa fa-calendar-check-o"
                           style="margin: 0 10px 0 0"></i>
                        LOW
                        <i aria-hidden="true" class="fa fa-info-circle"></i>
                    </div>
                    <div *ngSwitchCase="priority.MINOR"
                         class="badge badge-pill badge-primary toLeft">
                        {{task.reminders[0].date}}
                        <i aria-hidden="true" class="fa fa-calendar-check-o"
                           style="margin: 0 10px 0 0"></i>
                        MINOR
                        <i aria-hidden="true" class="fa fa-bookmark-o"></i>
                    </div>
                    <div *ngSwitchCase="priority.MODERATE"
                         class="badge badge-pill badge-success toLeft">
                        {{task.reminders[0].date}}
                        <i aria-hidden="true" class="fa fa-calendar-check-o"
                           style="margin: 0 10px 0 0"></i>
                        MODERATE
                        <i aria-hidden="true" class="fa fa-question-circle"></i>
                    </div>
                    <div *ngSwitchCase="priority.SIGNIFICANT"
                         class="badge badge-pill badge-warning toLeft">
                        {{task.reminders[0].date}}
                        <i aria-hidden="true" class="fa fa-calendar-check-o"
                           style="margin: 0 10px 0 0"></i>
                        SIGNIFICANT
                        <i aria-hidden="true" class="fa fa-plus-square"></i>
                    </div>
                    <div *ngSwitchCase="priority.REQUIRED"
                         class="badge badge-pill badge-danger toLeft">
                        {{task.reminders[0].date}}
                        <i aria-hidden="true" class="fa fa-calendar-check-o"
                           style="margin: 0 10px 0 0"></i>
                        REQUIRED
                        <i aria-hidden="true" class="fa fa-exclamation"></i>
                    </div>
                </div>

                <div *ngIf="!task.priority && task.reminders !== null && task.reminders[0].date !== null"
                     class="badge badge-pill badge-secondary toLeft">
                    {{task.reminders[0].date}}
                </div>

            </div>
        </div>
    </li>
</ul>

<context-menu #taskMenu>
    <ng-template contextMenuItem (execute)="editedTask = $event.item; open(content)">
        <i class="fa fa-pencil"></i>
        <span> Edit task</span>
    </ng-template>
    <ng-template contextMenuItem
                 (execute)="editedTask = $event.item; editedTask.reminders[0].date = todayDate() ; saveEditedTask();">
        <i class="fa fa-clock-o"></i>
        <span> Today?</span>
    </ng-template>
    <ng-template contextMenuItem
                 (execute)="editedTask = $event.item; editedTask.reminders[0].date = tomorrowDate() ; saveEditedTask();">
        <i class="fa fa-calendar-plus-o"></i>
        <span> Tomorrow?</span>
    </ng-template>
</context-menu>

<ng-template contextMenuItem #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Task name</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form>
            <div class="form-group">

                <label for="taskName">Task name</label>
                <input id="taskName" class="form-control" [(ngModel)]="editedTask.name" name="taskName">
                <br>
                <label for="description">Description</label>
                <input id="description" class="form-control" [(ngModel)]="editedTask.description" name="description">
                <br>
                <label for="description">Due date</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="datePick" ngbDatepicker #d="ngbDatepicker">
                    <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()"
                            type="button"></button>
                </div>
                <br>

                <select class="form-control" [(ngModel)]="editedTask.priority" name="newPriority">
                    <option *ngFor="let p of priorityValues" [ngValue]="priority[p]">{{p}}</option>
                </select>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="saveEditedTask(); modal.close('Save click')">Save
        </button>
    </div>
</ng-template>
