<div class="text-center">
    <h1>Hi {{currentUser.username}}!</h1>
    <p>What is you main focus for today?</p>
</div>

<br>

<div class="container">
    <div class="row">

        <div class="col-2" style="margin-top: 5.35rem">
            <div class="card">
                <ul class="list-group list-group-flush list-group-item-action">
                    <li (click)="setProject(projects[0])"
                        class="list-group-item list-group-item-action active">Inbox
                    </li>

                    <li *ngFor="let project of getProjectsWithoutInbox()"
                        class="list-group-item list-group-item-action" [contextMenu]="projectMenu"
                        [contextMenuSubject]="project">

                        <div (click)="setProject(project)">
                            {{ project.name }}
                        </div>

                    </li>
                </ul>
            </div>


            <input #projectName (keyup.enter)="addProject(projectName.value); projectName.value ='';"
                   class="form-control mt-5" type="text" placeholder="new project...">
            <button (click)="addProject(projectName.value); projectName.value='';" type=button
                    class="btn btn-danger btn-block">Add project
            </button>
        </div>

        <div class="col-10">
            <div class="d-flex my-2">
                <input (keyup.enter)="addTask(taskName.value); taskName.value='';" type="text" class="form-control"
                       #taskName/>
                <button (click)="addTask(taskName.value); taskName.value='';" class="btn btn-success">Add</button>
            </div>
            <div class="card ">
                <div class="card-header">
                    Tasks
                </div>
                <div class="card-body">

                    <h4>Today</h4>

                    <div *ngIf="areTasksLoaded">
                        <app-task-view [tasks]="getTodayTasks()" [projectId]="currentProject.id"></app-task-view>
                    </div>

                    <br>
                    <h4>Next 7 days</h4>

                    <div *ngIf="areTasksLoaded">
                        <app-task-view [tasks]="getNext7Days()" [projectId]="currentProject.id"></app-task-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="text-center">
    <p>Weather for today</p>
</div>
<weather-widget class="weather" [settings]="settings"></weather-widget>

<context-menu #projectMenu>
    <ng-template contextMenuItem (execute)="removeProject($event.item)">
        <i class="fa fa-trash" aria-hidden="true"></i>
        <span> Remove project</span>
    </ng-template>
</context-menu>
