.fa-2x {
    font-size: 1.4em;
}

.myCenter {
    position: relative;
    top: 3px;
    transition: all .2s ease-in-out;
}

.myCenter:hover {
    color: dodgerblue;
}

.myMargin {
    margin-left: 10px;
}

.toLeft {
    float: left;
}

.weather {
    margin: 0 auto;
}

.task {
    transition: all .2s ease-in-out;
}

.task:hover {
    transform: scale(1.01);
}


.taskVisible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.taskHidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

/*.badge-secondary{*/
/*float: left;*/
/*}*/

