<div class="card text-center">
    <div class="card-header">
        Settings
    </div>
    <div class="card-body">

        <div class="custom-control custom-checkbox">
            <input [(ngModel)]="newsletter" class="custom-control-input" id="customCheck1" name="newsletter"
                   type="checkbox">
            <label class="custom-control-label" for="customCheck1">Daily newsletter at 9 am</label>
        </div>


        <br>
        <button (click)="saveSettings()" class="btn btn-success" type="button">Save</button>


    </div>
</div>

